/* Styles pour les éléments de la liste */
.social-media-list {
    list-style: none; /* Supprime les puces de la liste */
    padding: 0; /* Supprime le remplissage par défaut de la liste */
    display: flex; /* Utilise Flexbox pour aligner les éléments en ligne */
    justify-content: center; /* Centre les éléments horizontalement */
}

/* Styles pour chaque élément de la liste */
.social-media-list li {
    margin: 0 10px; /* Ajoute une marge entre chaque élément */
}

/* Styles pour les icônes */
.contact-icon {
    font-weight: bold; /* Met en gras l'icône */
    font-size: 24px; /* Ajuste la taille de la police de l'icône selon vos préférences */
}

/* Styles pour la ligne horizontale */
hr {
    border: 1px solid #fff; /* Couleur et style de la ligne horizontale */
    margin: 20px 0; /* Marge au-dessus et en dessous de la ligne horizontale */
}
