{% extends 'base.html' %}
{% block body %}

   {% load static %}
  

<link rel="stylesheet" type="text/css" href="{% static 'css/menu1.css' %}">
<style>
   h4 {
      font-weight: bold;
   }
   p {
      font-size: large;
   }
</style>

<section class="about-area pt-60" style="background-color: rgb(247, 247, 229);">
         <div class="container">
            <div class="row">
               <div class="col-xl-12 mb-60">
                  <div class="section-title text-center">
                     <p style="font-weight: bold;font-size: 26px; color:black;">L'authenticité marocaine</p>
                     <h4 style="color: brown;">notre menu</h4>
                  </div>
               </div>
            </div>
            <div class="row menu_style1">
               <div class="col-md-4">
                  <div class="single_menu_list">
                     <img src="static/img/menu1.jpg" alt="">
                     <div class="menu_content">
                        <h4 style="color:black;">Salade marocaine  <span style="color: rgb(165, 101, 101);">105 dhs</span></h4>
                        <p style="color:black;">Poivrons, tomate grillé et épluchée, assaisonnée avec du citron et de l'huile d'olive.</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="single_menu_list">
                     <img src="static/img/menu2.jpg" alt="">
                     <div class="menu_content">
                        <h4 style="color:black;">Zaâlouk  <span style="color: rgb(165, 101, 101);">105 dhs</span></h4>
                        <p style="color:black;">Caviar d'aubergine composée d'une purée d'aubergine parfumée au citron et à l'huile d'olive.</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="single_menu_list">
                     <img src="static/img/menu3.jpg" alt="">
                     <div class="menu_content">
                        <h4 style="color:black;">Assiette au trois saveurs  <span style="color: rgb(165, 101, 101);">115 dhs</span></h4>
                        <p style="color:black;">Composition de trois variétés d'entrés, la salade marocaine, le zaalook, la salade oranaise.</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="single_menu_list">
                     <img src="static/img/menu4.jpg" alt="">
                     <div class="menu_content">
                        <h4 style="color:black;">Chekchouka   <span style="color: rgb(165, 101, 101);">115 dhs</span></h4>
                        <p style="color:black;">composée de poivrons, de tomates, d'olives, de Merguez, et d'oeufs.</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="single_menu_list">
                     <img src="static/img/menu5.jpg" alt="">
                     <div class="menu_content">
                        <h4 style="color:black;">Tajine  <span style="color: rgb(165, 101, 101);">279 dhs</span></h4>
                        <p style="color:black;">à l'Agneau ou de Poulet fermier aux oignons et raisins.</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="single_menu_list">
                     <img src="static/img/menu6.jpg" alt="">
                     <div class="menu_content">
                        <h4 style="color:black;">Méchoui grillé  <span style="color: rgb(165, 101, 101);">315 dhs</span></h4>
                        <p style="color:black;">(1/2 épaule d'agneau grillée) Garniture: Salade, pomme de terre et haricots verts.</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="single_menu_list">
                     <img src="static/img/menu7.jpg" alt="">
                     <div class="menu_content">
                        <h4 style="font-size: 16px; color: black;">Brochettes de Poulet fermier grillées<span style="color: rgb(165, 101, 101);">250 dhs</span></h4>
                        <p style="color: black;">(2 brochettes) Garniture: Salade, pomme de terrer et haricots verts.</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="single_menu_list">
                     <img src="static/img/menu8.jpg" alt="">
                     <div class="menu_content">
                        <h4 style="color:black;">Tajine au poisson  <span style="color: rgb(165, 101, 101);">310 dhs</span></h4>
                        <p style="color:black;">tajine de daurade aux légumes.</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="single_menu_list">
                     <img src="static/img/menu9.jpg" alt="">
                     <div class="menu_content">
                        <h4 style="color:black;">Couscous Royal  <span style="color: rgb(165, 101, 101);">290 dhs</span></h4>
                        <p style="color:black;">Agneau, Boulette, merguez, Brochette.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>



{% endblock body %}